/lib/
/src/scratch/
/src/repl/
classes/
target/
cljs-test-runner-out/
checkouts/
cljs-build/
trash/
scratch/
.boot/
.cpcache/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.envrc
.nightlight.edn
.nvimlog
.rebel_readline_history
.fdignore
pom.xml
pom.xml.asc
tags
*.jar
*.class
*.vim
*.log.*
*.log
*.dir-sha1

