pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
target/
/checkouts/
cljs-test-runner-out/
/src/scratch/
.boot/
.cpcache/
cljs-build/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
tags
.envrc
.nightlight.edn
.nvimlog
.rebel_readline_history
*.vim
*.log.*
*.log
trash/
*.dir-sha1
